
body {
  background-color: darkslategray;
  box-sizing: border-box;
  align-items: center;
}

.aboutContainer {  
  padding: 2vh;
  padding-top: 1vh;
  background-color: white;
  height: fit-content;
  margin-top: 15vh;
  text-align: justify;
  overflow-y: hidden;
  /* width: 100%; */
}

#title{
  /* width: 70vw; */
  height: 16vh;
  display: inline-block;
}

.aboutLogo {
  float: left;
   height: 14vh; 
   padding-top: 2vh;
}

.quote {
  width: 90%;
  float: left;
  position: relative;
  text-align: center;
  
  background-color: #00000005;
  line-height: 1.5;
}

.quote:before {
  padding-left: 5vh;
  content: open-quote;
  position: absolute;
  font-size: 10vh;
  color: #f2ba14;
}
.quote:after {
  content: close-quote;
  position: absolute;
  font-size: 10vh;
  color: #f2ba14;
}

.quote:before {
  top: -3vh;
  left: -2vh;
}

.quote:after {
  bottom: -5vh;
  right: -2vh;
}

@media only screen and (max-width: 600px) {
  #aboutImg{
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  
  #aboutImg{
    height: 80vh;
  } 
}

@media only screen and (max-width: 544px) {
  #title{
    width: 14vh;
  }

  .aboutLogo{
    display: none;
  }
}
