html{
  overflow-x: hidden;
}

body {
  background: linear-gradient(180deg, rgba(46, 79, 79, 1), white);
  margin: 0;
  font-size:1.25vw;
}

.navInfoDiv {
  margin-top: 14vh;
  margin-bottom: -30px;
  padding-left: 25px;
  padding-top: 15px;
  opacity: 100%;
  height: 25%;
  border-radius: 20px;
}

.methodologyDiv {
  background-color: white;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  height: fit-content;
  margin-top: 6%;
  font-size:1.25vw;  
  text-align: center;
  display: inline-block;
}

.methodologyDiv a {
  text-decoration: none;
  color: black;
}

.method {
  font-size: 2.5vh;
  border: 1px solid gray;
  border-radius: 3%;
  /* box-shadow: 0px 2px 12px white; */
  display: inline-block;
  width: 300px;
  height: 600px;
  /* background-color: lightgray; */
  margin-left: 2%;
  padding: 1rem;
  padding-top: 0;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  word-spacing: -2px;
}

.methodText {
  margin-top: -2%;
  overflow: hidden;
}

.method::-webkit-scrollbar {
  display: none;
}

.videoContainer {
  background-color: darkslategray;
  text-align: center;  
  padding: 1%;
  padding-top: 1%;
  height: fit-content;
  min-height: 60vh;
}

.videoCell{
  display:contents;
  width: 30%;
  
}

.videoCell iframe {
  margin-bottom: 2%;
  border-radius: 20px;
  border: 2px solid black;
  min-height: 60vh;
  max-width: 70vh;
  /* width: fit-content; */
}



/* ABOUT THE PROJECT / infoGrapghic */


.bottomLogo {
  margin-right: -65%;
  float: right;
  margin-top: -7%;
  height: 45vw;
}

.infoGraphic {
  padding: 1vh;
  width: 55%;
  height: 81vh;
  background-color: white;
  margin-left: 2vh;
  margin-right: 0vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-image: url(../Images/InfoGraphicTeamPhoto.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.infoText {
  overflow-wrap: break-word;
  max-height: 100%;
  overflow: scroll;
  font: size 2.7em;
  display: none;
  width: 100%;
  text-align: justify;
  word-wrap: break-word;
}

.infoGraphic:hover .infoText {
  display: inline-block;
  background-color: rgba(211, 211, 211, 0.747);
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; display: block;}
}

/* NEWS */

.newsContainer {
  width: 100%;
  height: 40vh;
  /* float: ; */
  background-color: rgba(255, 255, 255, .2);
  margin-left: -1%;
  /* margin-top: 100px; */
  margin-bottom: 100px;
  text-align: center;
}

.newsText {
  font-size: 90%;
  margin-top: 1%;
  text-align: justify;
  margin-right: 5%;
  float: right;
  width: 40%;
  color: black;
  overflow: scroll;
  height: 95%;
}
.newsPhoto {
  margin-top: 1%;
  max-width: 50vw;
  max-height: 85%;
}

/* Carousel */

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.slides-container {
  height: 25rem;
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.slide {
  width: 100%;
  height: 40vh;
  flex: 1 0 100%;
}

.slides-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 5.3vh;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}
#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}