body {
  background-color: darkslategray;
  font-family: montserrat, sans-serif;
  font-size: 2.8vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.navBackground {
  position: fixed;
  z-index: 1;
  height: 15vh;
  width: 100%;
  background-color: darkslategray;
  top: -3px;
  opacity: 80%;
  box-shadow: 10px 8px 16px 12px rgba(0, 0, 0, 0.2);
}
.navBar {
  padding-top: 1vh ;
  position: fixed;
  top: -6px;
  z-index: 1;
  text-align: center;
  height: fit-content;
}
.topLogo {
  float: left;
  height: 8.5rem;
  z-index: 2;
}

@keyframes rotateY {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }
  100% {
    transform: perspective(800px) rotateY(360deg);
  }
}

img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}


.method:hover .methodLogo {
  height: 9rem;
  animation: rotateY 2s linear infinite;
}
.methodLogo  {
  height: 9rem;
}

.navButton {
  margin: 2vw;

  color: white;
  text-decoration: none;
  background: none;
  border: none;
}
.navButton:hover {
  color: #f2ba14;
}

.navLinks {
  position: fixed;
  top: 8.5%;
  left: 5%;
  right: 5%;
  opacity: 100%;
}
.selectedPage {
  color: #f2ba14;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  text-align: left;
  display: none;
  position: absolute;
  min-width: 306px;
  z-index: 1;
  border-radius: 20px;
  margin-left: 2vw;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgba(128, 128, 128, 0.9);
}

.dropdown-content a:hover {
  color: #f2ba14;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .navButton {
  color: #f2ba14;
}

.footerContainer {
  margin-left: -10px;
  margin-bottom: -10px;
  position: relative;
  text-align: center;
  background-color: black;
  height: 10vh;
  padding-top: 2vh;
  color: white;
}

.arrow-down {
  width: 1vh;
  height: 1vh;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #000; /* You can change the color here */
  display: none;
  margin: auto;
  margin-top: 70%;
}


#aboutImg{
  /* height: 80vh; */
  float: right;
}


#data-table{
  margin-top: 15vh;
}


@media only screen and (width: 600px) {

  .navLinks {
    font-size: 3vh;
    padding-right: 0;    
  }  
}

@media only screen and (max-width: 700px) {

  body{
    /* width: 105%; */
    overflow-x: hidden;
  }
  .navBar{
    text-align: center;
    margin-left: 47.8%;
  }
  
  .spacer {
    height: 50px;
  }
  
  .topLogo {
    display: none;
  }

  .infoGraphic{
    width: 79%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {  
  .navBackground {
    height: 15vh;
  }
  .spacer {
    height: 0px;
  }
  .navLinks {
    top: 1%;
  }
  .topLogo {
    height: 4.5rem;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .topLogo {
    height: 9.5rem;
    display: none;
    float: left;
  }
  .bottomLogo{
    display: none;
  }
  .infoGraphic{
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  .topLogo {
    padding-top: 1rem;
    height: 7.5rem;
    display: block;
    float: left;
  }
}@media only screen and (max-width: 500px) {

  #aboutImg{
    height: 1vh;
  }
  .infoGraphic{
    width: 79%;
  }
}