body {
  background: linear-gradient(180deg, rgba(46, 79, 79, 1), white);
}


table {
  border-collapse: collapse;
  width: 0%;
  margin: auto;
  /* background-color: lightgrey; */
}

th,
td {
  /* border: 1px solid black; */
  padding: 10px;
}
/* tr:nth-child(even) {background-color: #f2f2f2;} */

th {
  /* background-color: orange; */
  color: black;
}

.resourcesData {
   /* padding-top: 7%; */
  width: 90vw;
  height: 70%;
  background-color: white;
  margin: auto;
  margin-top: 15vh;
}

.cardContainer {
  height: 100%;
  width: 100%;
}

.card {
  min-width: 20vw;
  min-height: 25vw;
  max-height: 50vw;
  float: left;
  background-color: black;
}

.card:hover {
  box-shadow: 0px 0px 10px 10px #f2bb148e;
}
